# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# IDE & OS Junk
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Credentials & Configs
.env
config.json
secrets.yaml

# Data Pipelines & Heavy Warehouses (No Conflicts!)
*.db
*.hyper
.*.twbr
~*

# Large Datasets (Portfolio Limits)
*.csv
*.xlsx
*.xls
*.zip